<div class="content" align="center" >

  <h2>Create a New Album</h2>

  <form action="/albums" method="post">

    <input type="text" name="title" placeholder="Title :"><br>

    <input type="text" name="format" placeholder=" Format :"><br>

    <input type="text" name="cat_number" placeholder="Catalogue Number :"><br>

    <input type="text" name="distributor" placeholder="Distributor :"><br>

    <input type="number" name="artist_id" placeholder="Artist id :"><br>
    
    <button type='submit' class="button" style="vertical-align:middle"><span>Add Album</span></button>
    
  </form>
</div>
