<div class="content" align="center" id="white_text">
  <h2>Edit or Delete an Album</h2>

  <h2> 
  <%= @album.artist.name  %> - 
  <%= @album.title %></h2>


  <form action="/albums/<%= @album.id %>/edit" method="get">
    <button type='submit' class="button" style="vertical-align:middle">
    <span>Edit</span></button>
  </form>

  <form  action="/albums/<%= @album.id %>/delete" method="post">
    <button type='submit' class="button" value="delete" style="vertical-align:middle">
    <span>Delete</span></button>
  </form>

</div>    


