<div class="content" align="center">
  <h2>Edit or Delete an Album</h2>
  <br>

  <hr>
  <h3><%= @album.title %></h3>

  <a href="/albums/<%= @album.id %>/edit">Edit</a>

  <form action="/albums/<%= @album.id %>/edit" method="get">
    <input type="submit" value="edit"></form>

    <form action="/albums/<%= @album.id %>/delete" method="post">
      <input type="submit" value="delete"></form>

    </div>


