<!DOCTYPE html>
<html>
<head>
  <title>kababalanche</title>
</head>
<body>
<nav>
  <ol>
    <li><a href="/stock">Stock</a> </li>
    <li><a href="/artists">Artists</a> </li>
    <li><a href="/albums">Albums</a> </li>
    <li><a href="/artists/new">New Artist</a> </li>
    <li><a href="/albums/new">New Album</a> </li>
  </ol>
</nav>
<%= yield  %>
</body>
</html>