<div class="content" align="center" id="white_text">

  <h2>Edit Artist</h2>

  <form action="/artists/<%= @artist.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="name">Name:</label><br>
    <input class="input" type="text" name="name" value="<%= @artist.name %>"><br>

    <label for="genre">Genre:</label><br>
    <input class="input" type="text" name="genre" value="<%= @artist.genre %>"><br>

    <button type='submit' class="button" style="vertical-align:middle"><span>Update Artist</span></button>
  </form>

</div>





