<% if @artists.count > 0 %>
<div class="content" align="center">
<h2>Artists</h2>
<table id="t01" align="center">
<tr>
  <th>Artist</th>
  <th>Genre</th>
  <% @artists.each do |artist| %> 
    </tr>
    <tr>
     <td> <a href="/artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td><%= artist.genre() %> </a></td>
  <% end %>

<div align="center">
<% else %>
  <p> Sorry there are no matching albums </p>
<% end %>
</div>



