<table id="t01" align="center">
  <tr>
    <th>Artist</th>
    <th>Genre</th>
    <% @artist.each do |artist| %>
  </tr>
  <tr>
    <td><%= artist.name() %> </a></td>
    <td><%= artist.genre() %> </a></td>
    
    <% end %>
  </tr>
</table>
