<div class="content" align="center">

  <h2>Create Artist</h2>

  <form action="/artists" method="post" id="form">


    <input type="text" name="name" placeholder=" Name :">
    <br>
    
    <br>
    <input type="text" name="genre" placeholder=" Genre :">
    <br>
    <br>
    <button type='submit' class="button" style="vertical-align:middle"><span>Add Artist</span></button>
    
  </form>

</div>
