<div class="content">

  <h2>Create Artist</h2>

  <form action="/artists" method="post">
    
    <label for="name">Name:</label>
    <input type="text" name="name">
    <br>
    
    <label for="genre">Genre:</label>
    <input type="text" name="genre">
    <br>

    <input type='submit' value="Create Artist">
  </form>

</div>