<div class="content" align="center" id="white_text">
<h2>Edit or Delete an Artist</h2><br>

<h2>
<%= @artist.name %>
</h2>

<form action="/albums/new" method="get">
  <button type='submit' class="button" style="vertical-align:middle">
  <span>Add Album</span></button>
</form>

<form action="/artists/<%= @artist.id %>/edit" method="post">
  <button type='submit' class="button" value="delete" style="vertical-align:middle">
  <span>Edit</span></button>
</form>

<form action="/artists/<%= @artist.id %>/delete" method="post">
  <button type='submit' class="button" value="delete" style="vertical-align:middle">
  <span>Delete</span></button>
</form>

</div>