<div class="content" align="center" id="white_text">

  <h2>Create Stock</h2>

  <form action="/stock" method="post">
    
   <select name="artist_id">
     <% @artists.each do |artist| %>
     <option value="<%= artist.id %>"><%= artist.name %></option>
     <%  end %>
   </select>
   <br>

    <select name="album_id">
      <% @albums.each do |album| %>
      <option value="<%= album.id %>"><%= album.title %></option>
      <%  end %>
    </select>
<br>

    <input type="number" name="quantity" placeholder=" Quantity : "><br>

    <input type="number" step="any" name="cost_price" placeholder=" Cost Price : "><br>

    <input type="number" step="any" name="sale_price" placeholder=" Sale Price : "><br>

    <input type="number" name="model_stock" placeholder=" Model Stock : "><br>

    <button type='submit' class="button" style="vertical-align:middle"><span>book into stock</span></button>
  </form>
</div>

























