<div class="content" align="center" id="white_text">

  <h2>Create Stock</h2>

  <form action="/stock" method="post">
  
    
    <label for="artist_id">Artists Id:</label><br>
    <input type="number" name="artist_id">
    <br>
    
    <label for="album_id">Album Id:</label><br>
    <input type="number" name="album_id">
    <br>

    <label for="quantity">Quantity:</label><br>
    <input type="number" name="quantity">
    <br>

    <label for="cost_price">Cost Price:</label><br>
    <input type="number" step="any" name="cost_price">
    <br>

    <label for="sale_price">Sale Price:</label><br>
    <input type="number" step="any" name="sale_price">
    <br>

    <label for="model_stock">Model Stock:</label><br>
    <input type="number" name="model_stock">
    <br>

    <input type='submit' value="book in stock">
  </form>

</div>

























