<div class="content" align="center" id="white_text">
<h2>Edit or Delete Stock</h2><br>

<hr><h3>
Stock Id <%= @stock.id %>
</h3>


<form action="/stock/<%= @stock.id %>/edit" method="post">

<button type='submit' class="button" style="vertical-align:middle"><span>Edit</span></button>
 
  </form>

<form action="/stock/<%= @stock.id %>/delete" method="post">

<button type='submit' class="button" style="vertical-align:middle"><span>Delete</span></button>
</form>

</div>