
/*==================
    BASE STYLES
    ===================*/

    html {
      background: url('http://static1.squarespace.com/static/551c24b3e4b06708eb188faa/t/5535bb62e4b0ca730467c2fd/1429584752253/1280-jp-record-shelf-1.jpg?format=2500w');
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center top;
      background-attachment: fixed;
    }

    body{
      background: linear-gradient(to bottom, rgba(000, 000, 000,1), rgba(0,0,0,0.0));
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1rem;
      color: #000;
      padding: 10px;
      margin: 0;
    }

    h2{
      font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
      font-size: 3rem;
      color: #FFF;
    }

    header{
      min-height: 100px;
      min-width: 98%;
    }

    footer {
      font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
      font-size: 1rem;
      color: #000;
      text-align: right;
      padding: 150px 50px 30px 30px;
      
    }

/*==================
    ID & CLASS
    ===================*/

    .content 
    {
      font-family: Helvetica, Arial, sans-serif; 
      font-size: .8rem;
      color: #004e66;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 1.2;
      margin: 0px;
    }

    #surfacenoise
    {
      font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
      font-size: 2.4rem;
      color: #FFF;
    }

    #grad1 
    {
      height: 500px;
    }

    #white_text {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 0.8rem;
      color: #FFF;
    }


/*==================
    FORMS
    ===================*/

    ::-webkit-input-placeholder { color:#000; }

    .input
    {
      width: 15%;
      height: 37px;
      padding: 12px 20px;
      margin: 8px 7px;
      border-radius: 2px;
      box-sizing: border-box;
      border: none;
      background-color: #47b8e0;
    }

    input[type=number]
    {
      width: 15%;
      padding: 12px 20px;
      margin: 8px 0;
      border-radius: 2px;
      box-sizing: border-box;
      border: none;
      background-color: #47b8e0;
    }

/*==================
    LINKS
    ===================*/

    a:link {
      text-decoration: underline;
      color: #004e66
    }

    a:visited {
      text-decoration: underline;
      color: #004e66
    }

    a:hover {
      color: darkred  ;
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }

/*==================
    BUTTONS
    ===================*/

    .button {
      display: inline-block;
      border-radius: 2px;
      background-color: #47b8e0;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 11px;
      padding: 11px;
      width: 110px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 3px;
    }

    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.6s;
    }

    .button span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -10px;
      transition: 0.6s;
    }

    .button:hover span {
      padding-right: 15px;
    }

    .button:hover span:after {
      opacity: 1;
      right: 0;
    }

/*==================
  FLOATED COLUMNS
  ===================*/

  .left {
    min-height: 52px;
    max-height: 54px;
    float: left;
    width: 10%;
  }

  .right {
    min-height: 52px;
    max-height: 54px;
    float: right;
    width: 90%;
  }

/*==================
  FLOAT CLEARFIX
  ===================*/

  .group:after {
    content: "";
    display: table;
    clear: both;
  }

/*==================
    TABLES
    ===================*/

    table#t01 {
      width:55%;
    }
    table#t02 {
      width:90%;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: left;
      padding: 5px 10px 5px 10px;
    }

    table tr:nth-child(even) {
      background-color: #d3eefb;
      font-size: 12px;
    }
    table tr:nth-child(odd) {
     background-color: #f0f5f5;
     font-size: 12px;
   }
   table th {
    background-color: #47b8e0;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
  }


